<a href="https://colab.research.google.com/github/anirbansen3027/Practice/blob/main/OLS_from_scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import numpy as np

In [46]:
#reading
df_train = pd.read_csv('/content/sample_data/california_housing_train.csv')
df_test = pd.read_csv('/content/sample_data/california_housing_test.csv')
print(df_train.shape, df_test.shape)
df.head()

(17000, 9) (3000, 9)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [47]:
x_train = df_train.drop(['median_house_value'], axis = 1)
y_train = df_train.loc[:,'median_house_value']
x_test = df_test.drop(['median_house_value'], axis = 1)
y_test = df_test.loc[:,'median_house_value']

x_train.shape, y_train.shape, x_test.shape, y_test.shape

((17000, 8), (17000,), (3000, 8), (3000,))

In [48]:
class LinearRegression:
  def __init__(self):
    self.W = None
  
  def fit(self, x_train, y_train):
    # W = (X^T* X)^-1 * X^T * y
    self.W = np.linalg.inv(np.dot(x_train.T, x_train))
    self.W = np.dot(self.W, x_train.T)
    self.W = np.dot(self.W, y_train)
  
  def predict(self, x_val):
    return np.dot(self.W, x_val.T)

  def score(self, x_val, y_val):
    y_preds = self.predict(x_val) 
    res_sq = ((y_val - y_preds)**2).sum()
    tot_sq = ((y_val - y_val.mean())**2).sum()
    return 1 - (res_sq/tot_sq)

In [49]:
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
print("r2_score", lr.score(x_test, y_test))
print("coefficients", lr.W)

r2_score 0.5579351737451786
coefficients [-2.24235468e+03 -8.47422590e+03  1.78614847e+03 -1.53597034e+01
  7.99622914e+01 -3.99046218e+01  1.33170287e+02  4.58387489e+04]